@using Vidly3.Models
@model IEnumerable<Vidly3.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
</head>
<body>
<div style="position: absolute; top: 10.5%; bottom: 0; left: 0; right: 0" class="bs-component">
    <img src="http://realestateadminimages.gabriels.net/170/82548/170-20170914211322741-577.jpg" width="100%" height="100%">
</div>
</body>
