<div  style="position:absolute;top:0;bottom:0;left:0; right: 0;" class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 10%">
        <a class="navbar-brand" href="http://localhost:12890">M O M E N T O</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=""> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Customer">Proyectos</a>
                </li>
 
            </ul>

        </div>
    </nav>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <br/><br/>
            <br/>
        </div>
    </div>
</div>


