
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<head>
    
</head>
<body>
<div style="position: absolute; top: 10.5%; bottom: 0.5%; left: 0; right: 40%" class="bs-component">
    <img src="https://static01.nyt.com/images/2017/03/01/arts/02pritzker1-web/02pritzker1-web-facebookJumbo.jpg" width="100%" height="100%"/>
</div>
    <div style="position: absolute; top: 25%; bottom: 0; left: 65%; right: 5%" class="bs-component">
        <p>
            Somos un grupo de profesionales comprometidos con los objetivos de la organización, con gran sentido de pertenencia sobre nuestros proyectos y tareas.
            La modalidad de trabajo colaborativa y la filosofía SIU nos permitió desarrollar equipos que, aún sin dejar de lado las creatividades individuales, priorizan y valoran los resultados de la acción grupal.
            Trabajamos de manera. <br/><br />
            Valoramos que la información sea precisa y de calidad, consideramos muy importante que la misma sea producida y presentada en el momento adecuado para que pueda ser analizada y capitalizada por las instituciones
        </p>
    </div>
 </body>
